{% extends "layout.html" %} {% block title%} | About {% endblock %} {% block content %}
<div class="container-fluid about-page">
    <h1>About Test Constructor</h1>
    <br>
    <p>Without tests today, not a single teacher, be it a school teacher or a professor of a thousand-thousand online course. Using Tests Constructor, you can create tests where students will select the correct answers from the suggested ones. It's very easy to use - in the interface you can sort it out in just a few minutes.</p>
</div>
{% endblock %}
